@using pms_cs.ViewModel
@model DataSignInCompanyViewModel

@{
    ViewData["Title"] = "Sign in company";
}

<head>
    <link rel="stylesheet" href="~/css/Company/Company_signin.css">
</head>

<section id="SigninCompany">
    <p class="Title__company">Sign in @Model.Name</p>
    <div class="Signin__company">
        <form asp-action="SignIn" method="post">
            <label asp-for="SecretWord">Secret Word</label>
            <input asp-for="SecretWord" type="password">
            <span asp-validation-for="SecretWord" class="text-danger"></span>

            <label asp-for="Password">Password for company</label>
            <input asp-for="Password" type="password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <button>Sign in company</button>
        </form>
    </div>
    <p class="index">To the main <a asp-action="Index" asp-controller="Home">page</a></p>
</section>