<head>
    <link rel="stylesheet" href="~/css/Shared/Decorate.css">
</head>

<section id="circle">
    <div class="position">
        <div class="circle__1"></div>
        <div class="circle__2"></div>
        <div class="circle__3"></div>
    </div>
</section>

<section id="circle_and_quer">
    <div class="position">
        <div class="quer"></div>
        <div class="circle"></div>
    </div>
</section>