@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<head>
    <link rel="stylesheet" href="~/css/Error.css">
</head>

<h1 class="text-danger">500 (Bad Request)</h1>
<h2 class="text-danger">Error loading page</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Server Error</h3>
<p>
    There was a problem connecting to the server. Please try reloading the page, or contact support.
</p>
<h3>Data Error</h3>
<p>
    The data you are trying to load is unavailable or corrupt. Please try reloading the page, or contact support.
</p>