@model IndexModel

@{
    ViewData["Title"] = "PMS: Start project management with ease!";
}

<head>
    <link rel="stylesheet" href="~/css/Index/Index.css">
</head>

@if (!User.Identity.IsAuthenticated)
{
<section id="header">
    @await Html.PartialAsync("Elements/_Header")
</section>

@await Html.PartialAsync("Home/IndexNotAuth")

@await Html.PartialAsync("Elements/_Decorate")
}
else
{
    @await Html.PartialAsync("Home/IndexAuth")
}